html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	height: 50px;
	background: green;
}

.footer {
	height: 50px;
	background-color: purple;
}

.body {
	height: 100%;
	display: flex;
}

.body-left {
	width: 150px;
}

.body-right {
	width: 150px;
}

.body-middle {
	flex: 1;
}



